@font-face {
    font-family: FuturaURW;
    src: url(Futura\ URW\ Regular.ttf);
}

body{
    margin: 0;
    max-width: 100%;
    font-family: FuturaURW;
    letter-spacing: .2em;
    
}

a{
    text-decoration: none;
    color: white;
    text-shadow: .2em .2em .3em black;
}

/*STYLE HEADER*/

header{
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content:space-evenly;
    min-height: 20em;
    width: 100%;
    background-color: #64abe3;
    

}

.logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 4em;
}

.logo img{
    height: 3.3em;
    margin-right: .5em;

}

.menu a{
    font-weight: bolder;
    padding-right: 1.7em;
    font-size: 4em;
}

.menu a:hover{
    color: #FAAA8F;
}

@media screen and (min-with:50em){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10em 0em;
    }
}

.buttonlogin{
    display: flex;
    align-self: center;
    font-weight: bold;
    min-height: 10em;
    min-width: 30em;
    background-color: #FAAA8F;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    box-shadow: 1em 1em 3em black;
}

.loginbutton{
    color: black;
    font-size: 4em;
    text-shadow: none;
    align-self: center;
    padding-left: 1.40em;
    padding-top: .1em;
}

/*FIN STYLE HEADER*/

/*STYLE HOME*/

.HOME{
    background-color: #64abe3;
    width: 100%;
    height: 100%;
    padding: auto;
    display: flex;
}

.slider-box{
    width: 249em;
    height: 100%;
    margin: 1em auto 0;
    margin-bottom: 10em;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
    -webkit-animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.textoslider{
    position: absolute;
    text-align: center;
    top: 50em;
    margin-left: 30em;
    margin-right: 30em;
    color: white;
    backdrop-filter: blur(.7em);
}

.textoslider h2{
    font-size: 15em;
    margin-bottom: 1em;
    text-shadow: .2em .2em .3em black;
}

.textoslider p{
    font-size: 7em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: -1.3em;
    text-shadow: .1em .1em .2em black;
}

.slider-box img{
    width: 100%;
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*FIN STYLE HOME*/

/*STYLE PLANES*/

.PLANES{
    background-color: #92C4EE;
    width: 100%;
    height: 240em;
    padding: auto;
    display: flex;
}

.contenedorplanes{
    background-color: #FDD8B5;
    width: 79.1%;
    height: 220em;
    position: relative;
    margin-left: 33.5em;
    margin-top: 10em;
    display: flex;
}

